@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Bitter|Orbitron|Righteous|Exo|Mogra|Tangerine|Acme|OpenSans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {box-sizing: border-box;}
 a {text-decoration: none; color: black;}
 i {color: #D96F32;}
 body {margin: 0 auto; background-color: #092B40;}
 ul {margin-left: 0; padding-left: 0;width: 100%;}
 li {list-style-type: none;display: block;margin-bottom: 10px;padding: 10px;background-color: #E7E7E8;font-family: Acme, serif; font-size: calc(100% + 1vw); }
 li.notfound {background-color: DarkSlateGrey;}
 li.header {background-color: #4b367c;height: 70px;}
 li:hover {border-left: 10px solid #D96F32;margin-left: -10px; border-right: 10px solid #D96F32; margin-right: -10px; border-radius: 5px;}
 img {width: 5%;min-width: 30px; float: left;}
 span {float: right;font-size: calc(40% + .5vw);}
 .main {margin: 0 auto; max-width: 1024px; position:relative; padding: 20px;}
 .footer {position:fixed;bottom:5px;width:100%;height:auto;margin-top:40px;text-align:center;color: white;font-family: Acme, serif; font-size: calc(40% + .8vw);}
